{{ partial "header" . }}

<div class="page-content">
    <div class="section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="p-t80 p-b80 text-center"
                    style="background:url({{.Site.BaseURL}}/images/kohler-bg.jpg) no-repeat; background-size:cover; min-height:800px;">
                    Test</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="p-t80 p-b80 text-center"
                    style="background:url({{.Site.BaseURL}}/images/aritco-bg-shade.jpg) no-repeat; background-size:cover; min-height:800px;">
                    Test</div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}