<!-- FOOTER START -->
<footer class="site-footer footer-large footer-dark text-white footer-style1">
    <a name="footer"></a>
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top bg-no-repeat bg-bottom-right"
        style="background-image:url({{.Site.BaseURL}}/images/background/footer-bg.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-h-left">
                        <div class="widget recent-posts-entry">
                            <h3>Head Office &amp; Workshop</h3>
                            <ul class="widget_address">
                                <li><i class="fa fa-map-marker"></i>Jl. Bintaro Permai Raya Kav.8/1, Pesanggrahan –
                                    Bintaro 12320, Jakarta Selatan – Indonesia</li>
                                <li><a href="tel:+62217356692" style="color:white;"><i
                                            class="fa fa-phone"></i>+6221-7356692</a></li>
                                <li><i class="fa fa-envelope"></i><a href="mailto:sales@kohlerindo.co.id" style="color:white;">sales@kohlerindo.co.id</a> </li>
                            </ul>
                        </div>
                        <ul class="social-icons  wt-social-links footer-social-icon">
                            <li><a href="https://www.facebook.com/kohlerindoprima" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.youtube.com/channel/UCEMnVdaCVrAJ4NOMRXL1FQw" class="fa fa-youtube"></a></li>
                            <li><a href="https://www.instagram.com/kohlerindoprima" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="row footer-h-right">
                        <div class="col-lg-5 col-md-4">
                            <div class="widget widget_services">
                                <h3 class="widget-title">Representative Office</h3>

                                <ul>
                                    <li>Jl. Gatot Subroto Barat No 297,
                                        Blok B Pamecutan Koja,
                                        Denpasar, Bali – Indonesia</li>
                                    <li><a href="tel:+623619072362" style="color:white;">TEL: +62361-9072362</a></li>
                                    <li><a href="mailto:sales@kohlerindo.co.id" style="color:white;">EMAIL: sales@kohlerindo.co.id</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-8">
                            <div class="widget widget_services">
                                <h3 class="widget-title">Jam Operasional</h3>
                                <p>Senin-Jumat: 08:30 AM - 16:30 PM</p>
                                <p>Sabtu: 8:30 AM - 14:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->

    <div class="footer-bottom">
        <div class="container">
            <div class="wt-footer-bot-left d-flex justify-content-between">
                <span class="copyrights-text">Copyright © 2020 <span class="site-text-primary">Kohlerindo Prima</span>
                    Authorized Distributor Kohler &amp; Aritco</span>
                <ul class="copyrights-nav">
                    <li><a href="{{.Site.BaseURL}}/sitemap.xml">Sitemap</a></li>
                    <li><a href="javascript:void(0);">Persyaratan Layanan</a></li>
                    <li><a href="javascript:void(0);">Kebijakan Privasi</a></li>
                </ul>
            </div>
        </div>
    </div>


</footer>
<!-- FOOTER END -->

<!-- BUTTON TOP START -->
<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

</div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">

        <div class="loader">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
            <span class="block-4"></span>
            <span class="block-5"></span>
            <span class="block-6"></span>
            <span class="block-7"></span>
            <span class="block-8"></span>
            <span class="block-9"></span>
            <span class="block-10"></span>
            <span class="block-11"></span>
            <span class="block-12"></span>
            <span class="block-13"></span>
            <span class="block-14"></span>
            <span class="block-15"></span>
            <span class="block-16"></span>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

<!-- JAVASCRIPT  FILES ========================================= -->
<script src="{{.Site.BaseURL}}/js/jquery-2.2.0.min.js"></script><!-- JQUERY.MIN JS -->
<script src="{{.Site.BaseURL}}/js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script src="{{.Site.BaseURL}}/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{{.Site.BaseURL}}/js/bootstrap-select.min.js"></script><!-- Form js -->
<script src="{{.Site.BaseURL}}/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
<script src="{{.Site.BaseURL}}/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script src="{{.Site.BaseURL}}/js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="{{.Site.BaseURL}}/js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
<script src="{{.Site.BaseURL}}/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
<script src="{{.Site.BaseURL}}/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script src="{{.Site.BaseURL}}/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
<script src="{{.Site.BaseURL}}/js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script src="{{.Site.BaseURL}}/js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="{{.Site.BaseURL}}/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="{{.Site.BaseURL}}/js/switcher.js"></script><!-- SHORTCODE FUCTIONS  -->

</body>

</html>