<!-- SIDE NAV-->
<nav>
    <!-- SIDENAV CATEGORY-->
    <ul id="nav-mobile-category" class="side-nav">
        <li class="sidenav-logo">
            <i class="fa fa-dollar-sign" aria-hidden="true"></i> Bisnis.TECH
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/peluang-usaha/"><i class="fas fa-plus"></i> Peluang Usaha</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/waralaba/"><i class="fas fa-plus"></i> Waralaba</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/bisnis-online/"><i class="fas fa-plus"></i> Bisnis Online</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/kisah-sukses/"><i class="fas fa-plus"></i> Kisah Sukses</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/adsense/"><i class="fas fa-plus"></i> AdSense</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/gadget/"><i class="fas fa-plus"></i> Gadget</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/gadget/"><i class="fas fa-plus"></i> Fakta Unik</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/berita/"><i class="fas fa-plus"></i> Berita</a>
        </li>
    </ul>
    <!-- END SIDENAV CATEGORY-->
</nav>
<!-- END SIDENAV-->