{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}images/banner/);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Aritco Home Lift</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full p-t80 p-b50"
        style="background:url({{.Site.BaseURL}}/images/aritco/AHL-Stockholm-archipelago-Middlefloor-LO.jpg) no-repeat left; background-size: cover;">
        <div class="overlay-main bg-white opacity-07"></div>
        <div class="container">
            <div class="section-content">
                <div class="p-t50 p-b50">
                    <div class="row d-flex justify-content-center flex-wrap">
                        <div class="col-lg-6 col-md-12 m-b30">
                            <img src="{{.Site.BaseURL}}/images/aritco/aritco-home-lift-2.jpg"
                                style="border:10px #333 solid;" alt="">
                        </div>

                        <div class="col-lg-6 col-md-12 m-b40">
                            <h2>Telusuri Berbagai Hal Mengenai Aritco Home Lift</h2>
                            <p>Aritco HomeLift dirancang untuk menjadi fitur ekstra di rumah Anda. Ini dekoratif dan
                                merupakan fitur desain spektakuler, yang membuat rumah Anda unik. Ini memberi Anda
                                perasaan mewah ekstra, dan itu menyalakan potensi penuh rumah Anda.
                            </p>
                            <p>
                                <a href="tel:+62811935394" class="site-button-secondry site-btn-effect">Contact
                                    Sales</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-t50 p-b50">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h2 class="text-right">Fitur-Fitur Utama</h2>
                            <ul class="m-l50">
                                <li>Desain, ukuran dan pilihan disesuaikan untuk rumah pribadi</li>
                                <li>DesignWall - dinding dengan lampu latar dengan seni pilihan dari desainer
                                    Skandinavia
                                    terkemuka</li>
                                <li>DesignLight dengan pencahayaan canggih yang dapat Anda kontrol melalui aplikasi
                                    SmartLift</li>
                                <li>Lift dioperasikan melalui solusi unik, roda kemudi yang disebut SmartControl</li>
                                <li>Dilengkapi dengan sistem SmartSafety kami, dengan fitur keselamatan, untuk memenuhi
                                    semua situasi yang dapat terjadi di dalam rumah, serta untuk mencegah terjadinya
                                    kecelakaan.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <img src="{{.Site.BaseURL}}/images/aritco/aritco-home-lift-9.jpg"
                                alt="Aritco Home Lift panel tombol">
                        </div>
                    </div>
                </div>

                <div class="p-t50 p-b50">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <img src="{{.Site.BaseURL}}/images/aritco/aritco-home-lift-8.jpg"
                                alt="Desain wall Aritco Home Lift">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h2>Design Walls</h2>
                            <p>
                                Skandinavia terkenal dengan desain klasiknya. Ini adalah warisan yang sangat kami
                                pedulikan, dan sesuatu yang ingin kami lestarikan dan kembangkan melalui Aritco
                                HomeLift.
                            </p>
                            <p>
                                Kami telah berkolaborasi dengan beberapa desainer dan seniman Skandinavia paling
                                terkemuka untuk menjadikan Aritco HomeLift sebagai karya seni sejati yang dapat Anda
                                banggakan di rumah Anda.
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="p-t50 p-b50">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h2 class="text-center">Spesifikasi Teknis</h2>
                            <h3>Ukuran</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>MODEL</th>
                                        <th>CARRIER SIZE</th>
                                        <th>EXTERIOR DIMENSIONS</th>
                                        <th>RATED LOAD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>S5</td>
                                        <td>600 x 830 mm</td>
                                        <td>966 x 880 mm</td>
                                        <td>250 kg / 2 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S8</td>
                                        <td>1000 x 830 mm</td>
                                        <td>1366 x 880 mm</td>
                                        <td>250 kg / 3 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S9</td>
                                        <td>1100 x 830 mm</td>
                                        <td>1466 x 880 mm</td>
                                        <td>250 kg / 3 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S12</td>
                                        <td>1000 x 1200 mm</td>
                                        <td>1366 x 1250 mm</td>
                                        <td>400 kg / 5 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S15</td>
                                        <td>1100 x 1400 mm</td>
                                        <td>1466 x 1450 mm</td>
                                        <td>400 kg / 5 persons</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-full p-t50 p-b50">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h3>Warna Badan Lift</h3>
                        <img src="{{ .Site.BaseURL }}/images/aritco/pilihan-warna-aritco-home-lift.jpg"
                            alt="pilihan warna body aritco home lift">
                        <hr>
                        <h3>Warna Material Kaca</h3>
                        <img src="{{ .Site.BaseURL }}/images/aritco/pilihan-warna-aritco-home-lift-glass-material.jpg"
                            alt="pilihan warna kaca aritco home lift">
                        <hr>
                        <h3>Warna Lantai Lift</h3>
                        <img src="{{ .Site.BaseURL }}/images/aritco/pilihan-warna-aritco-home-lift-lantai-lift.jpg"
                            alt="pilihan warna lantai aritco home lift">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>Intended use</strong></td>
                                    <td>
                                        Installations in private homes <br>
                                        Indoor installation environments
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Technical compliance</strong></td>
                                    <td>
                                        European Machine directive 2006/42/EC <br>
                                        European standard EN 81-41
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Rated Speed</strong></td>
                                    <td>
                                        Max 0,15 m/s inside Europe <br>
                                        Max 0,30 m/s outside Europe
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Emergency lowering</strong></td>
                                    <td>
                                        Battery-powered
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Travel height</strong></td>
                                    <td>250 – 15 000 mm</td>
                                </tr>
                                <tr>
                                    <td><strong>Top height</strong></td>
                                    <td>Min. 2 225 mm to 4 000 mm</td>
                                </tr>
                                <tr>
                                    <td><strong>Number of floors</strong></td>
                                    <td>2 to 6 floors</td>
                                </tr>
                                <tr>
                                    <td><strong>Installation</strong></td>
                                    <td>
                                        Recessed installation 37 mm below floor <br>
                                        Installed directly on the floor with a ramp
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Operation</strong></td>
                                    <td>
                                        Hold to run (press and hold) <br>
                                        One touch operation (press one time) for installations outside europe
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Power supply</strong></td>
                                    <td>
                                        230 V 1-phase <br>
                                        400 V 3-phase
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Drive system</strong></td>
                                    <td>Patented screw and nut system</td>
                                </tr>
                                <tr>
                                    <td><strong>Warranty</strong></td>
                                    <td>
                                        Aritco HomeLift comes with a 24 month warranty <br>
                                        The screw and nut assembly has a 10 year warranty
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-full p-t80 p-b50"
        style="background:url({{.Site.BaseURL}}/images/banner/aritco-download-broschure.jpg) no-repeat center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="p-t80 p-b80">
                        <h2 class="text-center text-white"> Download Datasheets and Brochures</h2>
                        <h3 class="text-center text-white">The latest technology, safety and sustainability from the
                            world of Aritco lifts. </h3>
                        <p class="text-center">
                            <a href="{{ .Site.BaseURL }}/downloads/aritco/home-lift/B2C-brochure-EN-LowRes-with-AHLAC.pdf"
                                class="site-button-secondry site-btn-effect">Download Brosur</a>
                        </p>
                        <p class="text-center">
                            <a href="{{ .Site.BaseURL }}/downloads/aritco/home-lift/Data_sheet_Aritco-HomeLift_2020_FEB_EN_L.pdf"
                                class="site-button-secondry site-btn-effect">Download Datasheet</a>
                        </p>
                    </div>
                    <div class="p-b80">
                        <h2 class="text-center text-white">Get a Free Quote</h2>
                        <p class="text-center">
                            <a href="tel:+62811935394"
                                class="site-button-secondry site-btn-effect">Request A Quote</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}