{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center"
        style="background-image:url({{.Site.BaseURL}}images/banner/aritco-6000-bg.jpg);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Aritco 7000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full p-t80 p-b50">
        <div class="container">
            <div class="section-content">
                <div class="row d-flex justify-content-center flex-wrap">
                    <div class="col-lg-6 col-md-12 m-b30">
                        <div class="whatWedo-media-section">
                            <div class="wt-media">
                                <img src="{{.Site.BaseURL}}/images/aritco/aritco-7000-real-portfolio.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 m-b40">
                        <!-- TITLE START-->
                        <div class="left wt-small-separator-outer">
                            <h2>Lift Platform Terlaris</h2>
                            <p>
                                Aritco Model 7000 paling populer di Tanah Air. Yang didesain agar sesuai dengan
                                lingkungan dan struktur bangunan Dapat dipasang baik di luar maupun di dalam dengan
                                sempurna. Ada banyak pilihan untuk Anda pilih. Dianggap platform elevator adalah model
                                lain yang tepat untuk Anda.
                            </p>
                            <p>
                                <a href="javascript:void(0)" class="site-button-secondry site-btn-effect">Hubungi
                                    Sales</a>
                            </p>
                        </div>
                        <!-- TITLE END-->
                    </div>


                </div>
                <div class="row d-flex justify-content-center flex-wrap">
                    <div class="col-lg-12 col-md-12 m-b30">
                        <img src="{{.Site.BaseURL}}/images/aritco/aritco-7000-datasheet.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}