{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}images/banner/);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Aritco 4000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full">
        <div class="container">
            <div class="overlay-main bg-black opacity-03"></div>
            <div class="section-content">
                <div class="p-t100 p-b50 p-l50 p-r50"
                    style="background:url({{.Site.BaseURL}}/images/aritco/aritco-4000-hero.jpg) no-repeat 80%; background-size: cover; height:1200px;">
                    <div class="row d-flex justify-content-center flex-wrap">
                        <div class="col-lg-12 col-md-12 m-b40 text-white">
                            <h2>Explore the Aritco 4000 </h2>
                            <p>Our smallest and most compact lift. The lift has been designed to meet all requirements
                                for comfort, space and design. The lift is available in different sizes, with an option
                                to personalise it with details such as glass walls, a range of varied colours and
                                different materials.</p>
                            <p>
                                <a href="tel:+62811935394" class="site-button-secondry site-btn-effect">Contact Sales</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-full p-t50 p-b50">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h2>Key Features</h2>
                        <p>
                        <ul class="tomolist-big">
                            <li>Customisable with more than 200 different colours, 4 different glass types and 9
                                different floors. </li>
                            <li>Very compact and space efficient which makes it possible to install the lift in almost
                                any house, even when space is limited.</li>
                            <li>Equipped with our SmartSafety system, with safety features, to meet all situations that
                                can occur in a home, as well as to prevent accidents.</li>
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="{{ .Site.BaseURL }}/images/aritco/aritco-4000-key-features.jpg"
                            alt="aritco 4000 key features">
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="m-t50">
                            <h1>Technical specifications</h1>
                            <h3>Sizes</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>MODEL</th>
                                        <th>CARRIER SIZE</th>
                                        <th>EXTERIOR DIMENSIONS</th>
                                        <th>RATED LOAD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>580 x 805 mm </td>
                                        <td>840 x 880 mm </td>
                                        <td>250 kg / 2 persons </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td> 880 x 805 mm</td>
                                        <td> 1140 x 880 mm </td>
                                        <td>250 kg / 2 persons</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>1080 x 805 mm</td>
                                        <td>1340 x 930 mm</td>
                                        <td>250 kg / 2 persons</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <hr>
                            <h3>Lift Color</h3>
                            <p>
                                Can be painted in any RAL colour from the RAL K7 classic chart (Except for pearl and fluorescent colours).
                            </p>
                            <hr>

                            <h3>Glass Color</h3>
                            <img src="{{ .Site.BaseURL }}/images/aritco/pilihan-warna-aritco-home-lift-glass-material.jpg"
                            alt="pilihan warna kaca aritco home lift">
                            <hr>

                            <h3>Floor Material</h3>
                            <img src="{{ .Site.BaseURL }}/images/aritco/aritco-home-lift-floor-material.jpg" alt="">
                            
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><strong>Intended use</strong></td>
                                        <td>
                                            Installations in private homes <br>
                                            Indoor installation environments
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Technical compliance</strong></td>
                                        <td>
                                            European Machine directive 2006/42/EC <br>
                                            European standard EN 81-41
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Rated Speed</strong></td>
                                        <td>
                                            Max 0,15 m/s 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Emergency lowering</strong></td>
                                        <td>
                                            Battery-powered
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Travel height</strong></td>
                                        <td>250 – 13 000 mm</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Top height</strong></td>
                                        <td>Min. 2 300 mm</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Number of floors</strong></td>
                                        <td>2 to 6 floors</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Installation</strong></td>
                                        <td>
                                            Recessed installation 50 mm below floor <br>
                                            Installed directly on the floor with 50 mm ramp
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Operation</strong></td>
                                        <td>
                                            Hold to run (press and hold) <br>
                                            One touch operation (press one time) for installations outside europe
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Power supply</strong></td>
                                        <td>
                                            230 V 1-phase 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Drive system</strong></td>
                                        <td>Patented screw and nut system</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Warranty</strong></td>
                                        <td>
                                            Aritco 4000 comes with a 24 month warranty <br>
                                            The screw and nut assembly has a 10 year warranty
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-full p-t80 p-b50"
        style="background:url({{.Site.BaseURL}}/images/banner/aritco-download-broschure.jpg) no-repeat center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="p-t80 p-b80">
                        <h2 class="text-center text-white"> Download Datasheets and Brochures</h2>
                        <h3 class="text-center text-white">The latest technology, safety and sustainability from the
                            world of Aritco lifts. </h3>
                        <p class="text-center">
                            <a href="{{ .Site.BaseURL }}/downloads/aritco/home-lift/B2C-brochure-EN-LowRes-with-AHLAC.pdf"
                                class="site-button-secondry site-btn-effect">Download Brochure</a>
                        </p>
                        <p class="text-center">
                            <a href="{{ .Site.BaseURL }}/downloads/aritco/Data_sheet_Aritco-4000_2020_FEB_EN_L.pdf"
                                class="site-button-secondry site-btn-effect">Download Datasheet</a>
                        </p>
                    </div>
                    <div class="p-b80">
                        <h2 class="text-center text-white">Get a Free Quote</h2>
                        <p class="text-center">
                            <a href="tel:+62811935394" class="site-button-secondry site-btn-effect">Request A Quote</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}