{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}images/banner/);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Aritco Home Lift Access</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full">
        <div class="container">
            <div class="overlay-main bg-black opacity-03"></div>
            <div class="section-content">
                <div class="p-t100 p-b50 p-l50 p-r50"
                    style="background:url({{.Site.BaseURL}}/images/aritco/aritco-home-lift-access-banner.jpg) no-repeat 20%; background-size: cover; height:1200px;">
                    <div class="row d-flex justify-content-center flex-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white">
                            <h2>Explore the Aritco HomeLift Access </h2>
                            <p>
                                Aritco HomeLift Access is designed to give access to all parts of your house for both
                                you and your family as well as your friends. Practical and smart with sizes for all
                                needs. With an option to personalize it with details such as glass walls, a range of
                                various colours and different materials.
                            </p>
                            <p>
                                When it comes to design and possibility to personalise your lift, you can choose from
                                more than 200 different colours, 2 different glass types and 8 different floors. The
                                lift is very practical, smart and gives access to your house for everyone.
                            </p>
                            <p>
                                <a href="tel:+62811935394" class="site-button-secondry site-btn-effect">Contact
                                    Sales</a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img src="{{ .Site.BaseURL }}/images/aritco/aritco-homelift-access-panel.jpg" alt=""
                                style="border:10px #FFF solid;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-full p-t50 p-b50">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h2>Key Features</h2>
                        <p>
                        <ul class="tomolist-small">
                            <li>Design, sizes and options created for a home environment</li>
                            <li>Minimum interventions in the house</li>
                            <li>Option for a "half-height door" on the top floor</li>
                            <li>'A' rated energy consumption according to VDI4707</li>
                            <li>95% recyclable materials</li>
                            <li>Patented screw/nut technology (no oil that can leak)</li>
                            <li>The lowest maintenance and operating costs on the market</li>
                            <li>Equipped with our SmartSafety system with safety features for home environments.</li>
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="{{ .Site.BaseURL }}/images/aritco/aritco-homelift-access-panel.jpg"
                            alt="aritco 4000 key features">
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="m-t50">
                            <h1>Technical specifications</h1>
                            <h3>Sizes</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Platform sizes</th>
                                        <th>Exterior dimensions</th>
                                        <th>Rated load</th>
                                        <th>Persons</th>
                                        <th>Wheelchair</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>900 x 1040 mm</td>
                                        <td>1300 x 1160 mm</td>
                                        <td>250 kg</td>
                                        <td>2 person</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>900 x 1280 mm</td>
                                        <td>1300 x 1400 mm</td>
                                        <td>410 kg</td>
                                        <td>5 person</td>
                                        <td>Lone user or type A*</td>
                                    </tr>
                                    <tr>
                                        <td>900 x 1480 mm</td>
                                        <td>1300 x 1600 mm</td>
                                        <td>410, 500 kg</td>
                                        <td>5 person</td>
                                        <td>A or B with attendant*</td>
                                    </tr>
                                    <tr>
                                        <td>1000 x 1280 mm</td>
                                        <td>1400 x 1400 mm</td>
                                        <td>410 kg</td>
                                        <td>5 person</td>
                                        <td>Lone user or type A*</td>
                                    </tr>
                                    <tr>
                                        <td>1000 x 1480 mm</td>
                                        <td>1400 x 1600 mm</td>
                                        <td>410, 500 kg</td>
                                        <td>5 person</td>
                                        <td>A or B with attendant*</td>
                                    </tr>
                                    <tr>
                                        <td>1100 x 1480 mm</td>
                                        <td>1500 x 1600 mm</td>
                                        <td>410, 500 kg</td>
                                        <td>5 person</td>
                                        <td>A or B with attendant, adjacent entry*</td>
                                    </tr>
                                    <tr>
                                        <td>1000 x 1980 mm</td>
                                        <td>1400 x 2100 mm</td>
                                        <td>500 kg</td>
                                        <td>6 person</td>
                                        <td>A or B with attendant*</td>
                                    </tr>
                                    <tr>
                                        <td>1100 x 1580 mm</td>
                                        <td>1500 x 1700 mm</td>
                                        <td>500 kg</td>
                                        <td>6 person</td>
                                        <td>A or B with attendant, adjacent entry*</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr>
                            <h3>Lift Color</h3>
                            <p>
                                Can be painted in any RAL colour from the K7 Classic Chart (Except for pearl and fluorescent colours).
                            </p>
                            <hr>

                            <h3>Doors</h3>
                            <p>
                                4 different door types to choose from. Large glass door, double hinged glass door, EI60 fire proof door and half height door.
                            </p>
                            <hr>

                            <h3>Glass Material</h3>
                            <img src="{{ .Site.BaseURL }}/images/aritco/aritco-home-lift-glass-material.jpg"
                                alt="pilihan warna kaca aritco home lift">
                            <hr>

                            <h3>Floor Material</h3>
                            <img src="{{ .Site.BaseURL }}/images/aritco/aritco-home-lift-floor-material.jpg" alt="">

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><strong>Intended use</strong></td>
                                        <td>
                                            Installations in private homes <br>
                                            Indoor installation environments
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Technical compliance</strong></td>
                                        <td>
                                            European Machine directive 2006/42/EC <br>
                                            European standard EN 81-41
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Rated Speed</strong></td>
                                        <td>
                                            Max 0,15 m/s inside Europe <br>
                                            Max 0,25 m/s outside Europe
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Emergency lowering</strong></td>
                                        <td>
                                            Battery-powered
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Travel height</strong></td>
                                        <td>250 – 13 000 mm</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Top height</strong></td>
                                        <td>Min. 2 240 mm</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Number of floors</strong></td>
                                        <td>2 to 6 floors</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Installation</strong></td>
                                        <td>
                                            Recessed installation 50 mm below floor <br>
                                            Installed directly on the floor with 50 mm ramp
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Operation</strong></td>
                                        <td>
                                            Hold to run (press and hold) <br>
                                            One touch operation (press one time) for installations outside europe
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Power supply</strong></td>
                                        <td>
                                            230 V 1-phase <br>
                                            400 V 3-phase
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Drive system</strong></td>
                                        <td>Patented screw and nut system</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Warranty</strong></td>
                                        <td>
                                            Aritco HomeLift Access comes with a 24 month warranty <br>
                                            The screw and nut assembly has a 10 year warranty
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-full p-t80 p-b50"
        style="background:url({{.Site.BaseURL}}/images/banner/aritco-download-broschure.jpg) no-repeat center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="p-t80 p-b80">
                        <h2 class="text-center text-white"> Download Datasheets and Brochures</h2>
                        <h3 class="text-center text-white">The latest technology, safety and sustainability from the
                            world of Aritco lifts. </h3>
                        <p class="text-center">
                            <a href="{{ .Site.BaseURL }}/downloads/aritco/home-lift/B2C-brochure-EN-LowRes-with-AHLAC.pdf"
                                class="site-button-secondry site-btn-effect">Download Brochure</a>
                        </p>
                        <p class="text-center">
                            <a href="{{ .Site.BaseURL }}/downloads/aritco/Datasheet_Aritco_HomeLift_Access.pdf"
                                class="site-button-secondry site-btn-effect">Download Datasheet</a>
                        </p>
                    </div>
                    <div class="p-b80">
                        <h2 class="text-center text-white">Get a Free Quote</h2>
                        <p class="text-center">
                            <a href="tel:+62811935394" class="site-button-secondry site-btn-effect">Request A Quote</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}