{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}images/banner/);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Aritco Home Lift</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full p-t80 p-b50"
        style="background:url({{.Site.BaseURL}}/images/aritco/AHL-Stockholm-archipelago-Middlefloor-LO.jpg) no-repeat left; background-size: cover;">
        <div class="overlay-main bg-white opacity-07"></div>
        <div class="container">
            <div class="section-content">
                <div class="p-t50 p-b50">
                    <div class="row d-flex justify-content-center flex-wrap">
                        <div class="col-lg-6 col-md-12 m-b30">
                            <img src="{{.Site.BaseURL}}/images/aritco/aritco-home-lift-2.jpg"
                                style="border:10px #333 solid;" alt="">
                        </div>

                        <div class="col-lg-6 col-md-12 m-b40">
                            <h2>Telusuri Berbagai Hal Mengenai Aritco Home Lift</h2>
                            <p>Aritco HomeLift dirancang untuk menjadi fitur ekstra di rumah Anda. Ini dekoratif dan
                                merupakan fitur desain spektakuler, yang membuat rumah Anda unik. Ini memberi Anda
                                perasaan mewah ekstra, dan itu menyalakan potensi penuh rumah Anda.
                            </p>
                            <p>
                                <a href="javascript:void(0)" class="site-button-secondry site-btn-effect">Tanya
                                    Sales</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-t50 p-b50">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h2 class="text-right">Fitur-Fitur Utama</h2>
                            <ul class="m-l50">
                                <li>Desain, ukuran dan pilihan disesuaikan untuk rumah pribadi</li>
                                <li>DesignWall - dinding dengan lampu latar dengan seni pilihan dari desainer
                                    Skandinavia
                                    terkemuka</li>
                                <li>DesignLight dengan pencahayaan canggih yang dapat Anda kontrol melalui aplikasi
                                    SmartLift</li>
                                <li>Lift dioperasikan melalui solusi unik, roda kemudi yang disebut SmartControl</li>
                                <li>Dilengkapi dengan sistem SmartSafety kami, dengan fitur keselamatan, untuk memenuhi
                                    semua situasi yang dapat terjadi di dalam rumah, serta untuk mencegah terjadinya
                                    kecelakaan.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <img src="{{.Site.BaseURL}}/images/aritco/aritco-home-lift-9.jpg"
                                alt="Aritco Home Lift panel tombol">
                        </div>
                    </div>
                </div>

                <div class="p-t50 p-b50">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <img src="{{.Site.BaseURL}}/images/aritco/aritco-home-lift-8.jpg"
                                alt="Desain wall Aritco Home Lift">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h2>Desain Dinding</h2>
                            <p>
                                Skandinavia terkenal dengan desain klasiknya. Ini adalah warisan yang sangat kami
                                pedulikan, dan sesuatu yang ingin kami lestarikan dan kembangkan melalui Aritco
                                HomeLift.
                            </p>
                            <p>
                                Kami telah berkolaborasi dengan beberapa desainer dan seniman Skandinavia paling
                                terkemuka untuk menjadikan Aritco HomeLift sebagai karya seni sejati yang dapat Anda
                                banggakan di rumah Anda.
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="p-t50 p-b50">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h2 class="text-center">Spesifikasi Teknis</h2>
                            <h3>Ukuran</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>MODEL</th>
                                        <th>CARRIER SIZE</th>
                                        <th>EXTERIOR DIMENSIONS</th>
                                        <th>RATED LOAD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>S5</td>
                                        <td>600 x 830 mm</td>
                                        <td>966 x 880 mm</td>
                                        <td>250 kg / 2 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S8</td>
                                        <td>1000 x 830 mm</td>
                                        <td>1366 x 880 mm</td>
                                        <td>250 kg / 3 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S9</td>
                                        <td>1100 x 830 mm</td>
                                        <td>1466 x 880 mm</td>
                                        <td>250 kg / 3 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S12</td>
                                        <td>1000 x 1200 mm</td>
                                        <td>1366 x 1250 mm</td>
                                        <td>400 kg / 5 persons</td>
                                    </tr>
                                    <tr>
                                        <td>S15</td>
                                        <td>1100 x 1400 mm</td>
                                        <td>1466 x 1450 mm</td>
                                        <td>400 kg / 5 persons</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-full p-t50 p-b50">
        <div class="container">
            <div class="section-content">
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}