{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url();">
        <div class="overlay-main site-bg-secondry opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohler 14-20 RES</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3>Ikhtisar</h3>

                        <p>
                            Generator kami yang paling populer untuk daya cadangan memberikan keandalan dan kinerja
                            pemenang penghargaan. Ketika Anda kehilangan daya selama pemadaman atau badai, generator
                            14/20 kW KOHLER® yang bekerja keras membuat peralatan Anda tetap bekerja, panas atau AC
                            menyala dan sistem keamanan Anda menyala. Sekarang juga tersedia dalam 3 fase*.
                        </p>
                        <ol class="p-l80">
                            <li>Andal Setiap generator KOHLER® dilengkapi dengan mesin kelas komersial tugas berat yang
                                tahan terhadap cuaca ekstrem.</li>
                            <li>Kuat Hanya dalam 10 detik, generator KOHLER Anda secara otomatis mengembalikan daya ke
                                AC 5 ton (60.000 BTU), peralatan utama, dan elektronik. *</li>
                            <li>Garansi Premium Kami membuat Anda dilindungi dengan perlindungan 5 tahun, 2.000 jam, dan
                                selungkup tahan korosi yang dibangun untuk bertahan lama.</li>
                            <li>Pemenang Penghargaan Generator KOHLER telah menerima beberapa penghargaan, termasuk
                                Penghargaan Most Valuable Product (MVP) 2010 oleh majalah Building Products.</li>
                        </ol>

                        <h3>KEKUATAN YANG ANDA BUTUHKAN</h3>

                        <ul class="p-l80">
                            <li>Teknologi PowerBoost ™ memberikan daya untuk memulai beban besar seperti pendingin udara
                                sentral
                                tanpa menjatuhkan daya ke peralatan lain</li>
                            <li>Kapasitas awal motor puncak yang luar biasa: 14RESA pada 35kVA pada 240V</li>
                            <li>Kualitas daya premium menghasilkan tegangan digital dan pengaturan frekuensi yang luar
                                biasa
                                bersama dengan tingkat distorsi harmonik yang rendah untuk melindungi elektronik canggih
                            </li>
                            <li>Didukung oleh engine KOHLER Command PRO® yang andal, dirancang dan diuji untuk aplikasi
                                komersial yang tangguh; dengan pengangkat katup hidrolik untuk menghilangkan kebutuhan
                                untuk periode break-in yang lama dan penyesuaian katup yang mahal; kecepatan operasi
                                adalah 3000 rpm (standar untuk generator berpendingin udara)
                            </li>
                            <li>Kompatibel dengan OnCue® Plus dan OnCue® Plus Wireless Generator Management Systems opsional, dan Programmable Interface Module (PIM)</li>
                            <li>Juga kompatibel dengan Load Control Module (LCM) atau Load Shed kit dengan generator satu fase saja</li>
                            <li>Model 14RESA disetujui untuk aplikasi off-grid dengan garansi off-grid 18 bulan / 1000 jam</li>
                        </ul>

                        <h3>KENYAMANAN YANG ANDA HARAPKAN</h3>

                        <ul class="p-l80">
                            <li>Pengontrol RDC2 yang dirancang untuk elektronik canggih saat ini mengelola genset dan
                                fungsi
                                sakelar transfer Model RXT</li>
                            <li>Operasi yang tenang dan ramah lingkungan dengan tingkat suara yang mirip dengan AC
                                sentral biasa</li>
                            <li>Dampak selungkup tahan korosi bergaya diuji hingga -30 ° F</li>
                            <li>Berjalan dengan gas alam atau propana cair (LPG) dengan beralih sederhana antara gas
                                alam dan
                                LPG di lapangan</li>
                            <li>Instalasi efisien, blok terminal sederhana untuk koneksi lapangan yang mudah. Kohler
                                juga
                                menawarkan bantalan pemasangan beton untuk menurunkan biaya dan waktu pemasangan.</li>
                        </ul>

                        <p>* Berdasarkan ukuran generator dan beban.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}