{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url();">
        <div class="overlay-main site-bg-secondry opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohler 24-38-48-60 RCL</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3>Ikhtisar</h3>

                        <p>
                            Daya yang andal untuk kebutuhan perumahan atau bisnis kecil. Ketika listrik padam saat badai
                            buruk atau listrik padam, generator KOHLER® Anda dengan mesin kelas industri menjaga rumah
                            atau bisnis Anda – dari udara sentral hingga pompa bah ke komputer pribadi – menyala dan
                            berjalan. *
                        </p>
                        <ol class="p-l80">
                            <li>Kuat Hanya dalam 10 detik, generator KOHLER Anda secara otomatis mengembalikan daya dan
                                membuat Anda tetap terhubung dengan hal-hal yang Anda sukai.</li>
                            <li>Pintar Anda mendapatkan daya stabil dan berkualitas tinggi yang melindungi elektronik
                                Anda dari kerusakan yang terkait dengan sumber daya berkualitas rendah.</li>
                            <li>Garansi Premium Kami membuat Anda dilindungi dengan perlindungan 5 tahun, 2.000 jam, dan
                                selungkup tahan korosi yang dibangun untuk bertahan lama.</li>
                            <li>Sunyi Ramah lingkungan, dengan volume latihan mingguan yang mirip dengan percakapan
                                normal.</li>
                            <li>Inovatif Inovasi yang menunggu paten dari generator ini mencakup sistem pendingin
                                bergaya tiga kipas, yang menjaga tingkat suara tetap rendah.</li>
                        </ol>

                        <h3>FITUR YANG ANDA BUTUHKAN</h3>

                        <ul class="p-l80">
                            <li>Operasi yang kuat baik pada gas alam atau propana cair (LPG);</li>
                            <li>Kapasitas awal motor puncak yang luar biasa, dengan 24RCL pada 37kVA pada 240V</li>
                            <li>Kualitas daya premium menghasilkan tegangan digital dan pengaturan frekuensi yang luar
                                biasa
                                bersama dengan tingkat distorsi harmonik yang rendah untuk melindungi elektronik canggih
                            </li>
                            <li>Didukung oleh mesin Kohler KG2204 kelas industri dengan pengangkat katup hidrolik untuk
                                menghilangkan kebutuhan untuk periode break-in yang lama dan penyesuaian katup yang
                                mahal; kecepatan operasi 1500 rpm
                            </li>
                            <li>Kompatibel dengan OnCue® Plus dan opsional OnCue® Plus Sistem Manajemen Generator
                                Nirkabel, Modul Antarmuka yang Dapat Diprogram (PIM) dan Modul Kontrol Beban (LCM) atau
                                Kit Gudang Beban (LCM atau Kit Gudang Beban yang hanya kompatibel dengan generator satu
                                fase saja).</li>
                        </ul>

                        <h3>KENYAMANAN YANG ANDA HARAPKAN</h3>

                        <ul class="p-l80">
                            <li>Pengontrol RDC2 yang dirancang untuk elektronik canggih saat ini mengelola genset dan
                                fungsi sakelar transfer Model RXT</li>
                            <li>Pengoperasian yang sangat sunyi dengan suara pada 61 dBA pada kecepatan penuh dan 54 dBA
                                saat berolahraga (tingkat percakapan normal)</li>
                            <li>Penutup aluminium tahan korosi</li>
                            <li>Berjalan dengan gas alam atau propana cair (LPG) dengan beralih sederhana antara gas
                                alam dan LPG di lapangan</li>
                            <li>Kompatibel dengan OnCue® Plus dan OnCue® Plus Sistem Manajemen Generator Nirkabel, Modul
                                Antarmuka Programmable (PIM) dan Modul Kontrol Beban (LCM) atau Kit Gudang Beban (LCM
                                atau Kit Gudang Beban yang kompatibel dengan generator fase tunggal saja).</li>
                        </ul>

                        <p>* Berdasarkan ukuran generator dan beban.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}