{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center"
        style="background-image:url({{.Site.BaseURL}}/images/banner/kohler-power-residence-banner-2.jpg);">
        <div class="overlay-main site-bg-secondry opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohler 14-20 RES</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3>Ikhtisar</h3>

                        <p>
                            Genset kami yang paling populer untuk tenaga listrik cadangan yang akan memberikan anda
                            keandalan dan kinerja yang nomor satu. Pada saat mati listrik, genset KOHLER&reg; 14/20 kW
                            siap bekerja keras untuk menghidupkan berbagai perangkat elektronik anda dan memastikan AC
                            maupun sistem keamanan anda tetap menyala. Tersedia juga tipe 3 phase. *
                        </p>
                        <ol class="p-l50">
                            <li><strong>Handal</strong> - Setiap genset KOHLER&reg; dilengkapi dengan mesin yang berdaya
                                tahan tinggi dan tahan terhadap cuaca ekstrim.</li>
                            <li><strong>Kuat</strong> - Hanya dalam 10 detik saja, genset KOHLER&reg; anda akan
                                secara otomatis menghidupkan kembali AC seberat 5 ton (60.000 BTU) dan juga
                                perangkat elektronik lainnya.*</li>
                            <li><strong>Garansi Premium</strong> - Kami memberikan garansi 5 tahun atau 2.000 jam,
                                beserta dengan pelindung genset anti-karat yang didesain untuk tahan lama.</li>
                            <li><strong>Pemenang Penghargaan</strong> - Genset KOHLER&reg; telah memenangkan beberapa
                                penghargaan, termasuk diantaranya: Most Valuable Product (MVP) Award 2010 oleh majalah
                                Building Products.</li>
                        </ol>

                        <h3>KEKUATAN YANG ANDA BUTUHKAN</h3>

                        <ul class="p-l50">
                            <li>Teknologi PowerBoost&trade; memberikan tenaga optimal untuk menyalakan perangkat
                                elektronik dengan beban berat seperti AC central tanpa mengorbankan tenaga listrik ke
                                peralatan listrik lainnya.</li>
                            <li>Puncak kapasitas awal motor yang luar biasa: 14RESA pada 35kVA pada 240V</li>
                            <li>Tenaga listrik berkualitas premium, menghantarkan voltasi digital dan regulasi frekuensi
                                berbarengan dengan distorsi harmonik yang sangat rendah sehingga melindungi perangkat
                                elektronik anda yang canggih.
                            </li>
                            <li>Didukung oleh engine KOHLER Command PRO® yang andal, dirancang dan diuji untuk aplikasi
                                komersial yang tangguh; dengan pengangkat katup hidrolik untuk menghilangkan kebutuhan
                                untuk periode break-in yang lama dan penyesuaian katup yang mahal; kecepatan operasi
                                adalah 3000 rpm (standar untuk generator berpendingin udara)
                            </li>
                            <li>Kompatibel dengan OnCue® Plus dan OnCue® Plus Wireless Generator Management Systems
                                opsional, dan Programmable Interface Module (PIM)</li>
                            <li>Juga kompatibel dengan Load Control Module (LCM) atau Load Shed kit dengan generator
                                satu fase saja</li>
                            <li>Model 14RESA disetujui untuk aplikasi off-grid dengan garansi off-grid 18 bulan / 1000
                                jam</li>
                        </ul>

                        <h3>KENYAMANAN YANG ANDA HARAPKAN</h3>

                        <ul class="p-l50">
                            <li>Pengontrol RDC2 yang dirancang untuk elektronik canggih saat ini mengelola genset dan
                                fungsi
                                sakelar transfer Model RXT</li>
                            <li>Operasi yang tenang dan ramah lingkungan dengan tingkat suara yang mirip dengan AC
                                sentral biasa</li>
                            <li>Dampak selungkup tahan korosi bergaya diuji hingga -30 ° F</li>
                            <li>Berjalan dengan gas alam atau propana cair (LPG) dengan beralih sederhana antara gas
                                alam dan
                                LPG di lapangan</li>
                            <li>Instalasi efisien, blok terminal sederhana untuk koneksi lapangan yang mudah. Kohler
                                juga
                                menawarkan bantalan pemasangan beton untuk menurunkan biaya dan waktu pemasangan.</li>
                        </ul>

                        <p>* Berdasarkan ukuran generator dan beban.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}