{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}/images/banner/);">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohler 8-10-12 RESV</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="owl-carousel project-detail-slider owl-btn-vertical-center mfp-gallery">

                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-1.jpeg" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-2.jpeg" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-3.jpeg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <p>
                            Performa generator kami dapat diandalkan untuk tenaga listrik cadangan. Pada saat rumah anda
                            kehilangan daya listrik yang disebabkan oleh berbagai faktor, genset KOHLER® akan bekerja
                            untuk menyediakan tenaga listrik bagi berbagai peralatan elektronik di rumah anda, termasuk
                            AC dan sistem keamanan.
                        </p>
                        <p>
                            <a href="{{.Site.BaseURL}}/downloads/g4252.pdf" class="site-button site-btn-effect">Download
                                Data Sheet 8 kW</a><br>
                            <a href="{{.Site.BaseURL}}/downloads/g4254.pdf" class="site-button site-btn-effect">Download
                                Data Sheet 10 kW</a><br>
                            <a href="{{.Site.BaseURL}}/downloads/g4254.pdf" class="site-button site-btn-effect">Download
                                Data Sheet 12 kW</a><br>
                        </p>
                    </div>
                </div>
                <div class="row m-t50">
                    <div class="col-lg-12 col-md-12">
                        <h3>Tenaga listrik yang stabil dan berkualitas tinggi</h3>

                        <p>
                            Hidupkan AC anda tanpa perlu mematikan perangkat lainnya. Genset Kohler menghasilkan voltasi
                            yang stabil dan frekuensi yang teregulasi, selain itu juga beroperasi pada getaran 
                            yang
                            sangat rendah sehingga memberikan tenaga listrik dengan perlindungan ekstra untuk barang-barang elektronik anda
                            yang
                            berharga tanpa suara bising.
                        </p>
                        <p>Puncak kapasitas awal motor: 8RESV pada 16.8kVA pada 240V</p>

                        <h3>Keandalan yang luar biasa</h3>

                        <p>Kohler dikenal dengan ketahanannya yang dapat diandalkan. Didukung dengan garansi terbatas 5
                            tahun atau 2000 jam.</p>

                        <h3>Performa yang luar biasa</h3>

                        <p>Selain ketahannya, performa genset Kohler juga dikenal baik. Dengan teknologi Powerboost,
                            genset
                            Kohler memberikan tenaga awal yang sangat baik.</p>

                        <h3>Pengoperasian yang tidak berisik</h3>

                        <p>Pada saat menyala, genset Kohler memiliki tingkat kebisingan yang sangat rendah, sehingga
                            nyaman
                            dan tidak mengganggu area sekitar rumah anda.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-specifications.jpg"
                            alt="Spesifikasi Kohler 8/10/12 RESV">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}