{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}/images/banner/digital-banner.jpg);">
        <div class="overlay-main site-bg-secondry opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohler OnCue</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3 class="text-center">Ketenangan Pikiran Dalam Genggaman Tangan Anda.</h3>
                        <p>Pada saat anda di rumah maupun berpergian, anda tidak akan perlu lagi khawatir tentang
                            listrik di rumah maupun di lokasi bisnis anda. Generator Kohler yang dilengkapi dengan
                            aplikasi OnCue akan memberikan anda ketenangan pikiran dalam genggaman tangan.</p>

                        <p><img src="{{.Site.BaseURL}}/images/kohler/kohler-oncue-ketenangan-pikiran-dalam-genggaman-tangan.jpg"
                                alt=""></p>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h1 class="text-center p-t80 p-b80">OnCue® Plus Generator Management System and App</h1>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <p><img src="{{.Site.BaseURL}}/images/kohler/kohler-oncue.png" alt="Kohler OnCue"></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3>Lihat Status Kondisi Listrik Anda Secara Real-Time</h3>
                        <p>
                            Kendalikan semua sistem anda - mulai dari generator, automatic transfer switch, Load
                            Control
                            Module (LCM)* dan Programmable Interface Module - lewat perangkat mobile anda maupun lewat
                            komputer (baik Mac maupun Windows).
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3>Nyalakan Barang-Barang Secara Otomatis</h3>
                        <p>
                            Anda memiliki kendali untuk menyalakan/mematikan barang-barang elektronik dari manapun.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3>Ketahui Perubahan Apapun Dalam Hitungan Detik</h3>
                        <p>
                            Dapatkan status terbaru dari sistem anda lewat email maupun sms.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3>Tetap Up To Date Dengan Aktifitas Generator Anda</h3>
                        <p>
                            Amati, reset dan review kondisi generator anda.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3>Kompatibel Dengan Beberapa Jenis Generator</h3>
                        <ul class="p-l80">
                            <li>14RESA and 14RESAL</li>
                            <li>20RESA, 20RESAL and 20RESB</li>
                            <li>38RCL equipped with an RDC/DC or RDC2/DC2 controller</li>
                            <li>48RCL equipped with an RDC/DC or RDC2/DC2 controller</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3>Jadwalkan Perawatan Secara Langsung</h3>
                        <p>Dapatkan dukungan purna jual maupun layanan perawatan berkala lewat dealer terdekat pada saat anda
                            membutuhkannya.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}