{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}/images/banner/kohler-power-banner.jpg);">
        <div class="overlay-main site-bg-secondry opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohler 8-10-12 RESV</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="owl-carousel project-detail-slider owl-btn-vertical-center mfp-gallery">
                        
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-1.jpeg" alt="" />
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-2.jpeg" alt="" />
                                </div>
                            </div> 
                            
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="{{.Site.BaseURL}}/images/kohler/kohler-8-10-12-resv-3.jpeg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h3>Ikhtisar</h3>

                        <p>
                            Daya yang andal untuk kebutuhan perumahan atau bisnis kecil. Ketika listrik padam saat badai
                            buruk atau listrik padam, generator KOHLER® Anda dengan mesin kelas industri menjaga rumah
                            atau
                            bisnis Anda – dari udara sentral hingga pompa bah ke komputer pribadi – menyala dan
                            berjalan. *
                            Kuat Hanya dalam 10 detik, generator KOHLER Anda secara otomatis mengembalikan daya dan
                            membuat
                            Anda tetap terhubung dengan hal-hal yang Anda sukai.
                        </p>

                        <p>
                            Pintar Anda mendapatkan daya stabil dan berkualitas tinggi yang melindungi elektronik Anda
                            dari
                            kerusakan yang terkait dengan sumber daya berkualitas rendah.
                        </p>

                        <p>
                            <strong>Garansi premium</strong> Kami memberi Anda perlindungan <strong>5 tahun, 2.000 jam</strong>, dan selungkup aluminium yang
                        dibuat tahan lama.
                        </p>

                        <p>Sunyi Ramah lingkungan, dengan volume latihan mingguan yang mirip dengan percakapan normal.</p>

                        <p>Inovatif Inovasi yang menunggu paten dari generator ini mencakup sistem pendingin bergaya tiga
                            kipas, yang menjaga tingkat suara tetap rendah.</p>

                        <h3>KEKUATAN YANG ANDA BUTUHKAN</h3>
                        
                        <ul class="p-l80">
                            <li>Teknologi PowerBoost ™ memberikan daya untuk memulai beban besar seperti pendingin udara sentral
                                tanpa menjatuhkan daya ke peralatan lain</li>
                            <li>Kapasitas awal motor puncak yang luar biasa: 8RESV pada 16.8kVA pada 240V</li>
                            <li>Kualitas daya premium menghasilkan tegangan digital dan pengaturan frekuensi yang luar biasa
                                bersama dengan tingkat distorsi harmonik yang rendah untuk melindungi elektronik canggih</li>
                            <li>Didukung oleh mesin KOHLER SV620 yang andal dengan desain OHV yang efisien. kecepatan operasi
                                adalah 3600 rpm (standar untuk generator berpendingin udara)
                                </li>
                            <li>Kompatibel dengan Modul Antarmuka Programmable (PIM) dan Sakelar Transfer Otomatis RXT, RDT dan
                                RSB</li>
                            <li>Juga kompatibel dengan Load Control Module (LCM) atau Load Shed kit dengan generator satu fase
                                saja</li>
                        </ul>

                        <h3>KENYAMANAN YANG ANDA HARAPKAN</h3>                        

                        <ul class="p-l80">
                            <li>Pengontrol RDC2 yang dirancang untuk elektronik canggih saat ini mengelola genset dan fungsi
                                sakelar transfer Model RXT</li>
                            <li>Menerima tekanan bahan bakar gas alam serendah 3,5 inci</li>
                            <li>Operasi yang tenang dan ramah lingkungan dengan tingkat suara yang mirip dengan AC sentral biasa</li>
                            <li>Memenuhi peringkat angin 181 mph</li>
                            <li>Berjalan dengan gas alam atau propana cair (LPG) dengan beralih sederhana antara gas alam dan
                                LPG di lapangan</li>
                            <li>Instalasi efisien, blok terminal sederhana untuk koneksi lapangan yang mudah. Kohler juga
                                menawarkan bantalan pemasangan beton untuk menurunkan biaya dan waktu pemasangan.</li>
                        </ul>

                        <p>* Berdasarkan ukuran generator dan beban.</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}