{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url();">
        <div class="overlay-main site-bg-secondry opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Layanan Instalasi Sistem Gas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80 bg-gray">
        <div class="section-content container-fluid">
            <div class="owl-carousel gallery-slider2 owl-btn-vertical-center mfp-gallery">
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-1.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-2.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-3.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-4.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-5.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-6.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-7.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-8.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-9.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-10.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-11.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-sistem-gas-12.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <img src="{{.Site.BaseURL}}/images/layanan/layanan-instalasi-sistem-gas-penjelasan.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}