{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url();">
        <div class="overlay-main site-bg-secondry opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Layanan Servis Dan Perawatan</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80 bg-gray">
        <div class="section-content container-fluid">
            <div class="owl-carousel gallery-slider2 owl-btn-vertical-center mfp-gallery">
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-1.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-2.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-3.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-4.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-5.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-6.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-7.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-8.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-9.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-10.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-11.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/servis-dan-perawatan-12.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <h3>3S (SALES, SERVIS DAN SPARE PARTS)</h3>
                        <p>Kami menyediakan layanan 3S (sales, service & spare parts) sekaligus untuk Anda.</p>
                        <ul>
                            <li>Kelola dan Rancang Beban Esensial Anda</li>
                            <li>Kustomisasi Panel ATS (Transfer Otomatis) Anda</li>
                            <li>Instalasi Generator yang Tepat cocok untuk rumah atau bisnis Anda</li>
                            <li>Sistem Gas Terpusat (LP / Gas Bumi) untuk Generator / Dapur / peralatan rumah atau
                                bisnis
                                lainnya</li>
                            <li>Kontrak Layanan Pemeliharaan untuk kenyamanan Anda dan Generator yang andal kapan saja
                            </li>
                            <li>Memecahkan masalah sistem listrik dan generator untuk rumah atau bisnis Anda</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <img src="{{.Site.BaseURL}}/images/layanan/kohler-engine-maintenance-kits.jpg"
                            alt="Kohler Engine Maintenance Kits">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <h3>KOHLER ENGINE MAINTENANCE KIT</h3>
                        <p>Pastikan Genset anda menggunakan Kohler Genuine Parts untuk menjamin keberlangsungan dan
                            garansi. Sehingga kinerja dan kualitas genset anda tetap dalam kondisi prima.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}