{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center"
        style="background-image:url({{.Site.BaseURL}}/images/banner/blueprint-banner.jpg);">
        <div class="overlay-main bg-black opacity-08"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Layanan Instalasi Genset Gas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80 bg-gray">
        <div class="section-content container-fluid">
            <div class="owl-carousel gallery-slider2 owl-btn-vertical-center mfp-gallery">
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-1.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-2.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-3.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-4.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-5.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-6.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-7.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-8.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-9.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-10.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-11.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-12.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <p>
                            Saat berbicara tentang Gennerator, hal pertama yang muncul di benak Anda adalah mesin untuk
                            menghidupkan listrik saat listrik mati/padam.
                        </p>
                        <p>
                            Oleh karena itu, Instalasi adalah masalah paling penting yang perlu dijaga oleh seorang ahli
                            dari tahap paling awal, desain teknik hingga tahap ereksi untuk menghindari kegagalan yang
                            akan
                            membuat Generator bekerja ketika mereka yang paling dibutuhkan.
                        </p>
                        <h3>5 (lima) poin penting untuk Instalasi Genset:</h3>

                        <p>
                            1. Berikan kemudahan untuk mengakses unit Generator, jika dalam keadaan darurat, tidak boleh
                            ada
                            hambatan sampai ke Generator. Dan juga harus ada ruang atau izin yang tepat untuk melakukan
                            perawatan atau perbaikan unit. Jangan menaruh barang di sekitar, atau di atas, atau di
                            Generator
                            karena itu diklasifikasikan sebagai lokasi penyimpanan / kamar.
                        </p>
                        <p>2. Simpan leveling dari Banjir dan hewan berdarah dingin lainnya.</p>
                        <p>
                            3. Sirkulasi Udara (untuk pemasangan di dalam ruangan). Setiap jenis Generator Listrik
                            selama
                            menggunakan Mesin Reciprocating sebagai penggerak utama mereka, itu membutuhkan udara segar
                            untuk pembakaran internal dan sistem pendingin, juga memisahkan udara panas untuk knalpot
                            pembakaran pada saat yang sama.
                        </p>
                        <p>
                            4. Posisi Tangki Bahan Bakar, karena penggunaan Generator tidak dapat diprediksi, alih-alih
                            mengambil ruang besar untuk penyimpanan bahan bakar, lebih efisien dengan akses pengisian
                            bahan
                            bakar yang mudah.
                        </p>
                        <p>
                            5. Posisi Panel Listrik dan manajemen Kabel Listrik. fungsi utama Panel Listrik adalah untuk
                            mengontrol dan melindungi antara Listrik Tenaga Utama dan Listrik Generator. Ini harus mudah
                            diakses dan juga memberi label yang jelas (mudah dibaca), ini untuk tindakan pencegahan
                            karena
                            pemecahan masalah.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}