{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center"
        style="background-image:url({{.Site.BaseURL}}/images/banner/blueprint-banner.jpg);">
        <div class="overlay-main bg-black opacity-08"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Layanan Instalasi Genset Gas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80 bg-gray">
        <div class="section-content container-fluid">
            <div class="owl-carousel gallery-slider2 owl-btn-vertical-center mfp-gallery">
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-1.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-2.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-3.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-4.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-5.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-6.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-7.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-8.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-9.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-10.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-11.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-genset-gas-12.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row m-b50">
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            Saat berbicara tentang Gennerator, hal pertama yang muncul di benak Anda adalah mesin
                            untuk
                            menghidupkan listrik saat listrik mati/padam.
                        </p>
                        <p>
                            Oleh karena itu, instalasi sebuah Generator Set adalah tahapan cukup penting, yang perlu
                            diperhatikan dari tahap paling awal perencanaan. Proses perencanaan (desain) hingga tahap
                            pelaksanaan harus dengan benar-benar memperhatikan aspek teknis, safety dan user friendly
                            untuk menghindari kegagalan operasional generator ketika saat yang paling dibutuhkan
                            (emergency).
                        </p>
                        <h3>5 (Lima) Poin Penting Untuk Instalasi Genset:</h3>
                        <p>
                            1. Akses/jalur ke posisi generator set. Berikan kemudahan untuk mengakses unit generator
                            anda, jika dalam keadaan
                            darurat, tidak boleh ada hambatan akses sampai ke generator set. Jangan menaruh barang di
                            sekitar, atau di atas,
                            atau di belakang generator yang dapat menghambat dalam pengoperasiannya.
                        </p>
                        <p>2.Leveling posisi Genset, agar aman dari banjir dan hewan berdarah dingin lainnya.</p>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <img src="{{ .Site.BaseURL }}/images/instalasi-genset-silent-type-panel-ats-pln-panel-distribusi.jpg"
                            alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <img src="{{ .Site.BaseURL }}/images/genset-design-installation.jpg" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                    <p>
                        3. Sirkulasi udara (untuk pemasangan di dalam ruangan). Setiap generator set menggunakan
                        mesin reciprocating sebagai
                        penggerak utama mereka dan itu membutuhkan udara segar untuk pembakaran internal dan sistem
                        pendinginan mesin, juga
                        memisahkan udara panas untuk knalpot pembakaran pada saat yang sama.
                    </p>
                        <p>
                            4. Posisi tangki bahan bakar. Penggunaan generator set bisa setiap saat atau kapan pun, oleh
                            karena itu posisi
                            tangki bahan bakar direncanakan dengan akses pengisian bahan bakar yang mudah.
                        </p>
                        <p>
                            5. Posisi panel listrik dan pengaturan kabel listrik. Fungsi utama panel listrik adalah
                            untuk mengatur dan proteksi
                            antara sumber listrik tenaga utama dan sumber listrik generator. Ini harus mudah diakses dan
                            juga memberi label yagn
                            jelas (mudah dibaca).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}