{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center"
        style="background-image:url({{.Site.BaseURL}}/images/banner/blueprint-banner.jpg);">
        <div class="overlay-main bg-black opacity-08"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Layanan Panel ATS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80 bg-gray">
        <div class="section-content container-fluid">
            <div class="owl-carousel gallery-slider2 owl-btn-vertical-center mfp-gallery">
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-2.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-3.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-4.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-5.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-6.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-7.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-8.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-9.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-10.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-11.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="project-img-effect-1">
                        <img src="{{ .Site.BaseURL }}/images/layanan/layanan-instalasi-panel-ats-12.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->

    <!-- GALLERY SECTION START -->
    <div class="section-full p-t80 p-b80">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3>Panel ATS (Automatic Transfer Switch)</h3>
                        <p>
                            Merupakan panel listrik dengan fungsi mengendalikan perpindahan antara 2 (dua) sumber
                            listrik PLN/Genset yang dapat ditangani secara otomatis atau manual dengan aman dan ramah
                            pengguna.
                        </p>
                        <p>
                            Panel ATS adalah sebagai pelengkap Generator Gas KOHLER yang menampilkan AMF dan cocok untuk
                            digunakan di pabrik, kantor atau rumah yang membutuhkan sistem
                            keamanan saat memindahkan sumber listrik utama ke sumber listrik generator.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY SECTION END -->
</div>

{{ partial "footer" . }}