{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}/images/banner/kohlerindo-banner.jpg);">
        <div class="overlay-main site-bg-secondry opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Karir</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content p-t80 p-b80">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row p-b30">
                        <div class="col-lg-4">
                            <img src="{{.Site.BaseURL}}/images/karir-di-pt-kohlerindo-prima.jpg" alt="lowongan kerja di PT Kohlerindo Prima">
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <h3>BERGABUNG BERSAMA KAMI</h3>
                            <p>Teknologi mutakhir, inovasi, dan kerjasama adalah budaya kerja di Kohlerindo Prima. Apakah anda
                                siap mengembangkan karir anda bersama kami?</p>
                        </div>
                    </div>
                    
                    <!-- Accordian -->
                    <div class="wt-accordion acc-bg-gray faq-accorfion" id="accordion5">
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" class="collapsed">
                                        Digital Media Content
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Digital Media Content <br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN : <br>
                                    </p>
                                    <ul class="p-l80">
                                        <li>Minimum Diploma</li>
                                        <li>Pengalaman kerja yang terbukti sebagai spesialis media digital</li>
                                        <li>Pengetahuan padat tentang Photoshop, Corel Draw / Adobe Ilustrator, Premiere
                                            Pro, Audacity atau perangkat lunak pengeditan media lainnya</li>
                                        <li>Pengalaman dengan prinsip komunikasi visual</li>
                                        <li>Keakraban dengan desain web dan sistem manajemen konten (WordPress)</li>
                                        <li>Keterampilan manajemen analitis dan proyek yang sangat baik</li>
                                        <li>Kemampuan untuk melakukan banyak tugas dan bekerja di bawah tenggat waktu
                                            yang
                                            ketat</li>
                                        <li>Keahlian komunikasi berbicara dan menulis yang kuat</li>
                                        <li>Kualifikasi tambahan dalam desain web atau animasi adalah nilai tambah</li>
                                        <li>2 tahun pengalaman kerja sebagai konten media digital</li>
                                    </ul>
                                    <p>
                                        TANGGUNG JAWAB :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Merancang kampanye media digital yang selaras dengan tujuan bisnis</li>
                                        <li>Koordinasi pembuatan konten digital (misalnya situs web, blog, siaran pers)
                                        </li>
                                        <li>Mengelola proyek-proyek digital end-to-end</li>
                                        <li>Menetapkan keberadaan web kami untuk meningkatkan kesadaran merek</li>
                                        <li>Menjaga suara perusahaan online yang kuat melalui media sosial</li>
                                        <li>Bekerja sama dengan tim Pemasaran, Penjualan dan Pengembangan Produk untuk
                                            memastikan konsistensi merek</li>
                                        <li>Sarankan dan terapkan metode pemasaran langsung untuk meningkatkan
                                            profitabilitas</li>
                                        <li>Tetap up-to-date dengan perkembangan media digital</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                        data-parent="#accordion5">
                                        Sales Manager
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseTwo5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Sales Manager <br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Pria, max. 45 tahun</li>
                                        <li>Pendidikan min. D3 / S1</li>
                                        <li>Memiliki pengalaman di bidang Sales min. 5 tahun</li>
                                        <li>Berpengalaman membawahi anak buah</li>
                                        <li>Aktif dan menyukai tantangan</li>
                                        <li>Sehat jasmani dan rohani</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseThree5" class="collapsed"
                                        data-parent="#accordion5">
                                        Sales Engineer
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseThree5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Sales Engineer <br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Pria / Wanita, max. 30 tahun</li>
                                        <li>Pendidikan min. D3 / S1 Teknik</li>
                                        <li>Pribadi yang aktif, menarik & menyukai tantangan</li>
                                        <li>Bersedia traveling ke luar kota / luar pulau</li>
                                        <li>Berpengalaman sebagai Sales min. 2 tahun</li>
                                        <li>Memiliki kendaraan sendiri</li>
                                    </ul>
                                </div>
                            </div>
                        </div>      

                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFour5" class="collapsed"
                                        data-parent="#accordion5">
                                        Area Manager Proyek
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFour5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Area Manager Proyek <br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Pendidikan min. D3 Teknik</li>
                                        <li>Pria, Usia max. 40 th</li>
                                        <li>Memiliki pengetahuan dibidang proyek (Min. 5 th)</li>
                                        <li>Bersedia ditempatkan di lokasi proyek (luar pulau)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFive5" class="collapsed"
                                        data-parent="#accordion5">
                                        Administrasi Proyek
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFive5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Administrasi Proyek<br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Wanita/Pria, max. 30 tahun</li>
                                        <li>Pendidikan min. D3 semua jurusan</li>
                                        <li>Memiliki pengalaman kerja di bidang administrasi</li>
                                        <li>Menguasai komputer, min. Ms. Office</li>
                                        <li>Bersedia ditugaskan ke luar pulau</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFive5" class="collapsed"
                                        data-parent="#accordion5">
                                        Teknisi
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFive5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Teknisi<br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Pria, max. 40 tahun</li>
                                        <li>Pendidikan min. SMK Electrical/Mechanical</li>
                                        <li>Pengalaman dalam bidang genset diutamakan</li>
                                        <li>Bersedia melakukan tugas dinas di lokasi proyek</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseSix5" class="collapsed"
                                        data-parent="#accordion5">
                                        Service Consultant
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseSix5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Service Consultant<br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Pria, max. 40 tahun</li>
                                        <li>Pendidikan min. SMK Electrical/Mechanical</li>
                                        <li>Pengalaman dalam bidang genset diutamakan</li>
                                        <li>Bersedia melakukan tugas dinas di lokasi proyek</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h3 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseSeven5" class="collapsed"
                                        data-parent="#accordion5">
                                        Technical Consultant
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseSeven5" class="acod-body collapse">
                                <div class="acod-content p-a20 bg-gray">
                                    <p>
                                        POSISI : Technical Consultant<br>
                                        GAJI : Kompetitif <br>
                                        STATUS : Dibuka <br>
                                        PERSYARATAN :
                                    </p>
                                    <ul class="p-l80">
                                        <li>Pria, max. 30 tahun</li>
                                        <li>Pendidikan min. D3/S1 Teknik</li>
                                        <li>Pribadi yang aktif, menarik, & suka tantangan</li>
                                        <li>Bersedia traveling ke luar kota atau luar pulau</li>
                                        <li>Berpengalaman sebagai Sales min. 2 tahun</li>
                                        <li>Memiliki kendaraan sendiri</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ partial "footer" . }}