{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/3.jpg);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Tentang Aritco</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{{ partial "footer" . }}