{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{.Site.BaseURL}}/images/banner/kohlerindo-banner.jpg);">
        <div class="overlay-main bg-black opacity-08"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Kohlerindo Prima</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full welcome-section-outer">
        <div class="welcome-section-top bg-white p-tb80">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="img-colarge">
                            <div class="colarge-1"><img
                                    src="{{.Site.BaseURL}}/images/kohlerindo-prima-authorized-distributor-kohler-power-system.jpg"
                                    alt="penghargaan top sales kohlerindo prima" class="slide-righ"></div>
                            <div class="since-year-outer">
                                <div class="since-year"><span>Sejak</span><strong>2005</strong></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="welcom-to-section">
                            <!-- TITLE START-->
                            <div class="left wt-small-separator-outer">
                                <div class="wt-small-separator site-text-primary">
                                    <div class="sep-leaf-left"></div>
                                    <div>Tentang Kami</div>
                                    <div class="sep-leaf-right"></div>
                                </div>
                            </div>

                            <p>
                                Didirikan di Jakarta dengan visi untuk mengembangkan segmen pasar baru di perumahan dan
                                komersial menggunakan Generator Gas (LP / Bahan Bakar Gas Alam).
                            </p>
                            <p>
                                Tim kami siap memberikan produk dan layanan sesuai kebutuhan pelanggan mulai dari
                                penjualan hingga pemasangan yang dilengkapi dengan desain teknik dan kontrol kualitas,
                                kami berkomitmen untuk memberikan janji-janji kami.
                            </p>
                            <h3>Mengapa Memilih Kami?</h3>
                            <ul class="site-list-style-one">
                                <li>Waktu pengiriman yang cepat</li>
                                <li>Kualitas dan kuantitas yang tinggi</li>
                                <li>Produk kami berasal dari merk terkenal</li>
                                <li>Kualitas bagus dengan harga terjangkau</li>
                                <li>Spesifikasi yang memiliki standarisasi Internasional</li>
                            </ul>
                            <p>
                                Start from 10 kVA improved up to 125kVA to get in to the new market segment with
                                remarkable achievement
                                2007 & 2008
                                <strong>
                                    ‘TOP Sales Achievement’
                                    KOHLER Asia Pacific award
                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <img src="{{.Site.BaseURL}}/images/milestone-bisnis-kohlerindo-prima.png" alt="tentang pt kohlerindo prima">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}