{{ partial "header" . }}

<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/3.jpg);">
        <div class="overlay-main bg-black opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-primary">Tentang Aritco</h2>
                        <p style="font-size: 24px; color: white;">
                            Aritco adalah produsen lift platform dan lift rumah pemenang penghargaan. Kami menyediakan
                            lift untuk pasar publik dan swasta di seluruh dunia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full p-t80 p-b50"
        style="background:url({{.Site.BaseURL}}/images/aritco/platform-lift-in-entrance.jpg) no-repeat center; background-size: cover;">
        <div class="overlay-main bg-white opacity-07"></div>
        <div class="container">
            <div class="section-content">
                <div class="p-t50 p-b50">
                    <div class="row d-flex justify-content-center flex-wrap">
                        <div class="col-lg-6 col-md-6 m-b40">                            
                            <h3>Cerita Kami</h3>
                            <p>
                                Pada tahun 1995, empat orang pengusaha mendirikan Aritco di sebuah ruang tamu di
                                Kungsängen, di luar Stockholm. Keempat pengusaha ini memiliki pengalaman yang mendalam
                                di bidang bisnis lift dan mereka semua setuju bahwa ada kebutuhan untuk produk baru yang
                                lebih pintar untuk digunakan, memiliki kemudahan untuk dipasang, lebih mudah untuk dioperasikan,
                                dan lebih murah secara signifikan daripada lift yang ada pada saat itu.
                            </p>
                            <p>
                                Keempat pengusaha tadi juga memiliki background teknisi, mereka kemudian membangun lift pertama
                                mereka dengan tangan. Selanjutnya adalah hal yang kita sebut dengan sejarah. 
                                Setelah melewati dua pabrik di Kungsängen, Aritco saat ini berbasis di pabrik seluas 16.0000
                                meter persegi dan memiliki kantor di Veddesta, di luar Stockholm. Sekarang kami memproduksi
                                4.0000 lift dalam setahun dan dijual ke 40 negara melalui 170 distributor.
                            </p>

                            <h3>A part of Latour Industries</h3>

                            <p>
                                From June 2016, Aritco is fully owned by the investment company Latour Industries, a
                                part of
                                the investment company Latour group. Latour is one of the largest investment companies
                                in
                                Sweden with a turnover of more than 5 billion SEK. With a philosophy to purchase or
                                invest
                                in companies to own and grow longterm. We are happy to have a new owner with great
                                financial
                                strength and who is willing to invest in our future.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}